<nav class="{% if page.title == "Home" %}home__header-nav{% else %}nav{% endif %}">
    <ul>
        {% if page.title != "Home" %}<li><a href="{{ site.url }}/"><h3>Home</h3></a></li>{% endif %}
        {% if page.title != "Blog" %}<li><a href="{{ site.url }}/blog"><h3>Blog</h3></a></li>{% endif %}
        {% if page.title == "Home" %}<li><a href="http://github.com/{{ site.github }}" target="_blank"><h3>Github</h3></a></li>{% endif %}
        {% if page.title != "About" %}<li><a href="{{ site.url }}/about"><h3>About</h3></a></li>{% endif %}
    </ul>
</nav>
